{% extends "EventManager/base.html" %}
{% load static %}
{% block title %}
    index
{% endblock %}
{% block css %}
    <link href="{% static 'css/account.css' %}" rel="stylesheet">
    <link href="{% static 'css/eventbase.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="acc-left">
    <h1>Events you're registered for:</h1>
    {% include 'EventManager/eventbase.html' %}
</div>
<div class="acc-right">
    <div class="acc-user">
        <h1>User Details</h1>
        <p>
            {{ user.username }} <br>
            {{ user.first_name }} {{ user.last_name }} <br>
            {{ user.email }}
        </p>
        <a href="{% url 'editaccount' %}"><p>edit details</p></a>
    </div>
</div>

{% endblock %}