{% extends "EventManager/base.html" %}
{% load static %}
{% block title %} Register {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}

{% if form.errors %}
{% for error in form.errors %}
<h3 style="color: red">{{ error }}</h3>
{% endfor %}
{% endif %}

    <h1 style="text-align: center;">Edit Account</h1>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit">Save</button>

    </form>
    <br><br>
{% endblock %}