{% extends "EventManager/base.html" %}

{% block title %} Upcoming Events {% endblock %}

{% block css %}
<!-- link css files here -->
{% endblock %}

<!-- iterate over the venues passed from the view.py -->
{% block content %}

{% if events.0 %}
<h1>Upcoming Events</h1>
<ul>
    {% for event in events %}
        <li>
            <a href="{% url 'eventdetails' id=event.id %}"><strong>{{ event.title }}</strong></a> - {{ event.start_date}}, {{ event.venue.state }}<br>

        </li>
    {% endfor %}
</ul>

{% else %}
<h1> NO UPCOMING EVENTS </h1>
{% endif %}
{% endblock %}
