{% extends "EventManager/base.html" %}

{% block title %} Venues {% endblock %}

{% block css %}
<!-- link css files here -->
{% endblock %}

<!-- iterate over the venues passed from the view.py -->
{% block content %}

<h1>Venues</h1>
<ul>
    {% for venue in venues %}
        <li>
            <a href="{% url 'venuedetails' id=venue.id %}"><strong>{{ venue.name }}</strong></a> - {{ venue.address_line_1 }}, {{ venue.city }}, {{ venue.state }}<br>
            {% if venue.image %}
                <img src="{{ venue.image.url }}" alt="{{ venue.name }}" style="max-width: 500px; height: auto;">
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
