{% extends "EventManager/base.html" %}
{% load static %}
{% block title %}
edit Event
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}

{% if form.errors %}
{% for error in errors %}
<h3 style="color: red; text-align: center;">{{ error }}</h3>
{% endfor %}
{% endif %}

<h1 style="text-align: center;">Edit Event</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
     
    {{ form.as_p }}
    <button type="submit">Save</button>
     
</form> 
<br>
<a href="{% url 'deleteevent' id=event.id %}"><h3>DELETE EVENT</h3></a>

{% endblock %}

